h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --bacground-white: #ffffff;
  --hero-link-color: #ffffff;
  --link-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding-left: 0;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.clients-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.clients-item {
  display: block;
  width: 170px;
  height: 92px;
  margin-left: 30px;
}

.clients-item:first-child {
  margin-left: 0;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--link-color);
}

.clients-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover > .clients-icon,
.clients-link:focus > .clients-icon {
  fill: var(--link-color);
}

.directions-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.directions-item {
  position: relative;
  display: block;
}

.directions-item:not(:last-child) {
  margin-right: 30px;
}

.directions-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.direction-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--bacground-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.directions-img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-list,
.examples {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.list-item:not(:last-child) {
  margin-right: 8px;
}

.btn-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  letter-spacing: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:hover,
.btn-item:focus {
  color: var(--hero-link-color);
  background-color: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: block;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -15px;
}

.examples-item {
  margin: 15px;
  display: block;
  flex-basis: calc(33.3333333333% - 30px);
  position: relative;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-img {
  display: block;
  max-width: 100%;
}

.examples-item:hover,
.examples-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.examples-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.card-content {
  padding: 20px 24px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.example-top {
  position: relative;
  overflow: hidden;
}

.overley-text {
  position: absolute;
  transform: translateY(100%);
  font-size: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
  padding: 63px 25px;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  display: flex;
  height: 100%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item:hover .overley-text {
  transform: translateY(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-footer {
  color: var(--hero-link-color);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--hero-link-color);
  font-style: normal;
  margin-top: 20px;
}

.virtual-footer {
  list-style: none;
  padding-left: 0;
  margin-top: 9px;
  margin-bottom: 0;
}

.footer-list:last-child {
  margin-top: 9px;
}

.footer-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.network-list {
  list-style: none;
  display: flex;
}

.network-list-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.network-address-title {
  margin-bottom: 20px;
  color: var(--bacground-white);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.network-list-item:first-child {
  margin-left: 0;
}

.network-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-icon {
  fill: var(--bacground-white);
}

.network-link:hover,
.network-link:focus {
  background-color: var(--link-color);
}

.conteiner.block {
  display: flex;
}

.network-address {
  margin-left: 70px;
  padding-top: 12px;
}

.subsccrible-block {
  margin-left: 93px;
  width: 570px;
}

.subcrible-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
  margin-bottom: 20px;
}

.subcrible-form {
  display: flex;
}

.subcrible-input {
  height: 50px;
  width: 358px;
  background-color: transparent;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subcrible-input:focus {
  border-color: var(--link-color);
}

.subcrible-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin-left: 12px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subcrible-btn:hover,
.subcrible-btn:focus {
  background-color: #188ce8;
}

.subcrible-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header .conteiner {
  display: flex;
}

.heder-nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-header,
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.logo-header {
  margin-right: 93px;
}

.logo-first {
  color: var(--link-color);
}

.header-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.header-list-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--link-color);
}

.header-list .header-list-link.current {
  color: var(--link-color);
}

.header-item {
  height: 100%;
  position: relative;
}

.header-list-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  display: flex;
  position: absolute;
  bottom: -1px;
}

.virtual-header {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.connect:not(:last-child) {
  margin-right: 50px;
}

.connect {
  height: 16px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.number {
  margin-left: 10px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.connectoin-icon {
  fill: var(--secondary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--link-color);
}

.header-link:hover > .connectoin-icon,
.header-link:focus > .connectoin-icon {
  fill: var(--link-color);
}

.hero-title {
  display: inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-link-color);
  margin-bottom: 30px;
  max-width: 696px;
  text-align: center;
}

.hero {
  background-color: #2f303a;
  margin: 0 auto;
  width: 1600px;
  height: 600px;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-link-color);
  background-color: var(--link-color);
  min-width: 132px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  margin-right: auto;
  margin-left: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 300ms linear;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  transition-property: border-color, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--link-color);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  cursor: pointer;
  border-color: var(--link-color);
}

.close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}

.field-element {
  margin-bottom: 10px;
}

.modal-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.modal-input {
  background-color: transparent;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.field-element {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px 12px 16px;
  margin-top: 4px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-text:focus {
  border-color: var(--link-color);
}

.modal-text::placeholder {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  max-width: 424px;
  max-height: 24px;
  display: inline-block;
}

.agreement-text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.agreement-text a {
  color: var(--link-color);
}

.agreement-field {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-agreement {
  display: flex;
}

.agreement-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid var(--main-text-color);
  margin-right: 7px;
}

.tick-icon {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-agreement:checked + .agreement-text span {
  background-color: #2196f3;
  border: none;
}

.agreement-text span {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-agreement:checked + .agreement-text .tick-icon {
  fill: #ffffff;
}

.modal-btn {
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 55px 10px 55px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.principles.section {
  padding-bottom: 0;
}

.principles-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.principle-item:not(:last-child) {
  margin-right: 30px;
}

.principles-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.principles-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.principle-icon {
  display: block;
  width: 70px;
  height: 70px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.principle-icon-block {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.principle-icon-block:hover > .principle-icon,
.principle-icon-block:focus > .principle-icon {
  fill: var(--link-color);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  list-style: none;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  display: flex;
}

.team-members:not(:last-child) {
  margin-right: 30px;
}

.team-members {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.masters-contact {
  display: flex;
  justify-content: center;
}

.contact-item {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.contact-item:first-child {
  margin-left: 0;
}

.masters-contact-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.network-icons {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-contact-link:hover,
.masters-contact-link:focus {
  background-color: var(--link-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-contact-link:hover > .network-icons,
.masters-contact-link:focus > .network-icons {
  fill: var(--bacground-white);
}/*# sourceMappingURL=main.css.map */