.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.logo--footer {
    color: var(--hero-link-color);
}

.footer__post-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--hero-link-color);
    font-style: normal;
    margin-top: 20px;
}

.footer__virtual {
    list-style: none;
    padding-left: 0;
    margin-top: 9px;
    margin-bottom: 0;
}

.footer__interactive:last-child {
    margin-top: 9px;
}

.footer__connection {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer__network-address {
    margin-left: 70px;
    padding-top: 12px;
}

.footer__list {
    list-style: none;
    display: flex;
}

.footer__soc-networks {
    width: 44px;
    height: 44px;
    margin-left: 10px;
    &:first-child {
        margin-left: 0;
    }
}

.footer__title {
    margin-bottom: 20px;
    color: var(--bacground-white);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer__link {
    @include center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 10%);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--link-color);
    }
}

.footer__icon {
    fill: var(--bacground-white);
}

.conteiner.block {
    display: flex;
}

.footer__subsccrible {
    margin-left: 93px;
    width: 570px;
}

.footer__caption {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 12px;
    margin-bottom: 20px;
}

.footer__form {
    display: flex;
}

.footer__input {
    height: 50px;
    width: 358px;
    background-color: transparent;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto";
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:focus {
        border-color: var(--link-color);
    }
}

.footer__btn {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    margin-left: 12px;
    padding: 0;
    @include center;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

.footer__send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: #ffffff;
}