.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
}

.header .conteiner {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo--header {
    margin-right: 93px;
    color: #000000;
}

.logo__word {
    color: var(--link-color);
}

.nav__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--link-color);
    }
}

.nav__list .nav__link.current {
    color: var(--link-color);
}

.nav__item {
    height: 100%;
    position: relative;
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.nav__link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    display: flex;
    position: absolute;
    bottom: -1px;
}

.header__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__connect {
    height: 16px;
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--link-color);
    }
}

.header__number {
    margin-left: 10px;
}

.header__icon {
    fill: var(--secondary-text-color);
    @include transition();
    .header__link:hover>&,
    .header__link:focus>& {
        fill: var(--link-color);
    }
}